/* Your styles here */
 body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
 }





 header {
    width: 500px;
    margin-inline: auto;
    text-align: center;
 }

 header img {
    width: 200px;
 }

 header div.top-header {
    background-color: black;
    padding-block: 50px;
    text-align: center;
 }

 header div.foot-header {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 260px;
    height: 80px;
 }

 .foot-header h1 {
    font-size: xx-large;
    font-weight: bold;
    color: #25a2c3;
 }

 .foot-header p {
    padding-top: 50px;
 }

 .foot-header button {
    margin-top: 40px;
    padding: 10px;
    padding-inline: 40px;
    background-color: #f04c2f;
    border-style: hidden;
    color: white;
 }







 main {
    width: 500px;
    margin-inline: auto;
    text-align: center;
 }

 main div.top-main h2{
    font-size: larger;
    font-weight: bold;
    color: #25a2c3;
    margin-top: 40px;
 }

 main div.top-main p {
    margin-top: 20px;
 }

 main div.top-main img {
    margin-top: 40px;
    border-radius: 200px 200px 200px 200px;
 }



 main div.middle-main {
    margin-top: 50px;
    background-color: #e22d0e;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
 }

 main div.middle-main h2 {
    font-size:3rem;
    font-weight: bold;
    margin-bottom: 30px;
 }

 main div.middle-main h3 {
    font-size: larger;
    font-weight: bold;
    margin-top: 30px;
 }

 main div.middle-main p {
    font-style: oblique;
 }



 main div.bottom-main div {
    margin: 20px;
    margin-top: 60px;
    border: 1px solid #e3dcdc;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 35px;
    
 }

 main div.bottom-main img {
    width: 100%;
 }

 main div.bottom-main h2 {
    font-size: larger;
    font-weight: bold;
    color: #25a2c3;
    margin-top: 10px;
 }
 
 






