/* Your styles here */
 body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
 }

 header {
    width: 500px;
    margin-inline: auto;
    text-align: center;
 }

 header img {
    width: 200px;
 }

 header div.top-header {
    background-color: black;
    padding-block: 50px;
    text-align: center;
 }

 header div.foot-header {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 260px;
    
    height: 80px;
 }

 .foot-header h1 {
    font-size: xx-large;
    font-weight: bold;
    color: #25a2c3;
 }

 .foot-header p {
    padding-top: 50px;
 }

 .foot-header button {
    margin-top: 40px;
    padding: 10px;
    padding-inline: 40px;
    background-color: #f04c2f;
    border-style: hidden;
    color: white;
 }






 main {
    width: 500px;
    margin-inline: auto;
    text-align: center;
 }

 main div.top-main h2{
    font-size: larger;
    font-weight: bold;
    color: #25a2c3;
    margin-top: 40px;
 }

 main div.top-main p {
    margin-top: 20px;
 }

 main div.top-main img {
    margin-top: 40px;
    border-radius: 200px 200px 200px 200px;
 }

 






